<h1>Create a New Song</h1>

<%= form_for(@song) do |s| %>
    <label>Song Name:</label>
    <%= s.text_field :name %><br>

    <label>Artist ID:</label>
    <%= s.number_field :artist_id %><br>

    <label>Genre ID:</label>
    <%= s.number_field :genre_id %><br>

    <%= s.submit %>
<% end %>

